form {
    background-color: white;
    width: 30%;
    padding: 2em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    background-color: whitesmoke;
    border: none;
    border-radius: 0.2em;
    padding: 1em;
}

a {
    text-align: end;
    width: 100%;
}

.react-datepicker__day-names, .react-datepicker__week {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  width: 220px;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    left: -11em;
}

.save-btn {
    margin: 2em;
    background-color: lightseagreen;
    font-size: 1.1em;
    padding: 0.9em 2.5em;
    border: none;
    border-radius: 5em;
    color: white;
    font-weight: bolder;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.save-btn:hover {
    background-color: #009A93;
    box-shadow: 0px 10px 13px -12px #000000;
}

@media (min-width: 620px) and (max-width: 1024px) {
    form {
        width: 50%;
    }
}

@media (max-width: 620px) {
    form {
        width: 70%;
    }

    .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
    .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
        left: -7em;
    }
}